exportPattern("^[[:alpha:]]+")

importFrom(matrixStats, madDiff, colMins, colMaxs)
importFrom(gtools, mixedorder)
importFrom(BiocParallel, bplapply)
importFrom(data.table, data.table)
importFrom(S4Vectors, Rle)
importFrom(GenomeInfoDb, seqlevels)
import(chipseq)
import(IRanges)
import(Rsamtools)
import(DNAcopy)
import(GenomicAlignments)
import(GenomicRanges)
import(CopyhelpeR)