exportPattern("^[[:alpha:]]+")

importFrom(matrixStats, madDiff)
importFrom(gtools, mixedsort)
importFrom(gtools, mixedorder)
importFrom(data.table, data.table)
import(chipseq)
import(IRanges)
import(Rsamtools)
import(snowfall)
import(DNAcopy)
import(GenomicAlignments)